<html>
    <body>
	<h1>Mots clef : {{slug}}</h1>
	<h1>Publié en : {{annee}}</h1>
	<h1>Langue : {{lang}}</h1>

	<a href="{{ path('Blog_page',{ page: annee }) }}" title="Retour à la page {{annee}}">Retour à la page {{annee}}</a>
    </body>
</html>