<html>
    <head>
	<meta charset="utf-8">
	<title>{{ article.titre }}</title>
    </head>
    <body>
	<article>
	    <header>
		<h1>{{ article.titre }}</h1>
		<p>
		    <span>Publié le {{ article.date|date('d/m/Y') }} </span>
		    <span>Par {{ article.auteur }}</span>
		</p>
		<p>
		    {{ article.contenu }}
		</p>
		<p>
		    {{ article.token }}
		</p>
	    </header>
	</article>
    </body>
</html>